html{
    font-size: 62.5%;
    background-color: $colorprimario;
    width: 100%;
    .box{
    margin: auto;
    }
}

@media (max-width: 450px){
    html{
        font-size: 62.5%;
        background-color: $colorprimario;
        width: 100%;
        .box{
        margin: auto;
        }
    }
}
