html{
    font-size: 62.5%;
    background-color: $colorprimario;
    .box{
    width: 1900px;
    margin: auto;
    }
}

@media (max-width: 545px){
    .box{
        width: 100%;
        margin: auto;
        }
}