.descbox{
    display: flex;
    justify-content: space-between;
    @include wh(1500, 400);
    margin: auto;
    p{
        margin-left: 10px;
        font-size: 2.5rem;
        color: white;
    }
    h3{
        margin: auto;
        margin-top: 10px;
        font-size: 3.5rem;
        color: rgb(173, 200, 0);
        text-align: center;
    }
    .link{
        @include wh(580, 380);
        padding: 10px;
        border: 1px solid white;
        margin-left: 100px;
    }
    
    .tutorial{
        @include wh(580, 380);
        padding: 10px;
        border: 1px solid white;
        margin-right: 100px;
    }
}

